In [1]:
import datetime as dt

In [2]:
dt.MINYEAR

1

In [4]:
dt.MAXYEAR

9999

In [11]:
d = dt.timedelta(microseconds=-1)

In [12]:
(d.days, d.seconds, d.microseconds)  # 3600 * 24 = 86400

(-1, 86399, 999999)

In [15]:
dt.timedelta.min

datetime.timedelta(-999999999)

In [16]:
dt.timedelta.max

datetime.timedelta(999999999, 86399, 999999)

In [17]:
dt.timedelta.resolution

datetime.timedelta(0, 0, 1)

In [22]:
d = dt.timedelta(days=0, seconds=0, microseconds=1, milliseconds=0, minutes=0, hours=0, weeks=0)

In [24]:
d.total_seconds()

1e-06

In [27]:
yearA = dt.timedelta(days=365)
yearB = dt.timedelta(seconds=365*24*3600)

In [28]:
yearA == yearB

True

In [29]:
yearA * 10 == yearB * 10

True

In [30]:
yearA * 10

datetime.timedelta(3650)

In [31]:
yearB * 10

datetime.timedelta(3650)

In [32]:
yearA + yearB

datetime.timedelta(730)

In [33]:
dt.date.today()

datetime.date(2017, 3, 11)

In [39]:
import time
time.time()
dt.date.fromtimestamp(time.time())

datetime.date(2017, 3, 11)

In [38]:
dt.date.fromtimestamp(time.time()) == dt.date.today()

True

In [42]:
dt.date(2008, 12, 24)  # The arguments have a default order.

ValueError: day is out of range for month

In [46]:
t = dt.date(2009, 12, 24).timetuple()
t

time.struct_time(tm_year=2009, tm_mon=12, tm_mday=24, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=358, tm_isdst=-1)

In [49]:
for i in t: print(i)

2009
12
24
0
0
0
3
358
-1

In [54]:
d = dt.date.today()
d.isoformat()

'2017-03-11'

In [55]:
d.strftime("%d/%m/%y")

'11/03/17'

In [57]:
d.strftime("%d/%m/%Y")

'11/03/2017'

In [59]:
d.strftime("%d/%m/%Y")

'11/03/2017'

In [60]:
d.strftime("%A %d. %B %Y")

'Saturday 11. March 2017'

In [65]:
d.strftime("%b %d %Y %a")

'Mar 11 2017 Sat'

In [66]:
dt.datetime.today()

datetime.datetime(2017, 3, 11, 11, 36, 51, 970)

In [67]:
dt.datetime.now()

datetime.datetime(2017, 3, 11, 11, 36, 58, 841508)

In [68]:
dt.datetime.utcnow()

datetime.datetime(2017, 3, 11, 16, 37, 20, 313795)

In [69]:
dt.datetime.fromtimestamp(time.time())

datetime.datetime(2017, 3, 11, 11, 37, 39, 388542)

In [70]:
dt.datetime.utcfromtimestamp(time.time())

datetime.datetime(2017, 3, 11, 16, 37, 54, 719349)

In [73]:
dt.datetime.fromtimestamp(time.time(), dt.timezone.utc)

datetime.datetime(2017, 3, 11, 16, 38, 39, 869262, tzinfo=datetime.timezone.utc)

dt.datetime.fromtimestamp(time.time(), dt.timezone.utc).tzinfo

In [90]:
from datetime import time  # Notice the time subclass in datetime class and a seperate time class
time(hour=12, minute=34, second=56, microsecond=123456).isoformat(timespec='minutes')

'12:34'

These are the available types of objects in the datetime class. Without diving into all the details, keep in mind that proper using of the objects and the associated methods, a clear and consice code can be written.
- datetime.date
- datetime.time
- datetime.datetime
- datetime.timedelta
- datetime.tzinfo: this is an abstract base class
- datetime.timezone: the actual class based on tzinfo

To write mathematical formula in iPython Notebook, you need to switch this cell into a Markdown language at the top and use the following notation for inputing the latex code.
$$c = \sqrt{a^2 + b^2}$$

Conclusions: The datetime class is a very broad class and heavily used in financial data analysis. This notebook has only contained the basic knowledge of this class and more updates will be added as more and more in-depth datetime related analysis will be carried out.